.Robot {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.skecth-board-con {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
}

.sketch-board {
  margin-top: 20px;
  position: relative;
  transform: translateY(0);
  animation: moveRobot 2s infinite ease;
}
.head {
  width: 160px;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0 -10px #aac;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.lens {
  background-color: #007;
  width: 140px;
  height: 85px;
  border-radius: 50%;
  margin-top: 6px;
  position: relative;
  display: flex;
  align-items: center;
}

.lens::after,
.lens:before {
  content: "";
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  width: 85px;
  height: 70px;
  bottom: 2px;
  z-index: 1;
}

.lens::after {
  right: 0;
}

.lens:before {
  left: 0;
}

.upper-shadow {
  width: 94%;
  height: inherit;
  box-shadow: inset 0 4px rgba(255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 3px;
  transform: translateX(3%);
}

.rect {
  position: absolute;
  background-color: white;
  width: 48px;
  height: 10px;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
}

.eyes {
  position: absolute;
  width: 70%;
  height: 50%;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0 0 5px #09f) drop-shadow(0 0 10px #09f) drop-shadow(0 0 15px #09f);
}

.eyes::after,
.eyes::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 7px solid transparent;
  /* border-top-color: #0ef;
    border-left-color: #0ef; */
  border-color: #0ef;
  transform: rotate(45deg);
}

.eyes_loading {
  position: absolute;
  width: 70%;
  height: 50%;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0 0 5px #09f) drop-shadow(0 0 10px #09f) drop-shadow(0 0 15px #09f);
}

.eyes_loading::after,
.eyes_loading::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top: 7px solid #0ef;
  border-left: 7px solid rgba(0, 238, 255, 0.5);
  border-bottom: 7px solid rgba(0, 238, 255, 0);
  border-right: 7px solid rgba(0, 238, 255, 0);
  /* border-color: #0ef; */
  transform: rotate(45deg);
  animation: spinner 1s infinite linear;
}

.red_eyes {
  position: absolute;
  width: 70%;
  height: 50%;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.365)) drop-shadow(0 0 10px rgba(255, 0, 0, 0.721))
    drop-shadow(0 0 15px rgba(255, 0, 0, 0.548));
}

.red_eyes::after,
.red_eyes::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-bottom: 7px solid rgb(208, 39, 39);
  border-right: 7px solid rgba(255, 0, 0, 0.589);
  border-top: 7px solid rgba(0, 238, 255, 0);
  border-left: 7px solid rgba(0, 238, 255, 0);
  /* border-color: #0ef; */
  transform: rotate(45deg);
  /* animation: spinner 1s infinite linear; */
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.ear {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 197px;
  height: 60px;
  background-color: white;
  border: 3px solid black;
  border-radius: 16px;
  z-index: 1;
  box-shadow: inset 0 -10px #aac;
}

.ear-antena {
  width: 100%;
  height: 100%;
  position: relative;
}

.ear-antena::after,
.ear-antena::before {
  content: "";
  width: 10px;
  height: 35px;
  background-color: #0ef;
  position: absolute;
  transform: translateY(-100%);
  border: 3px solid black;
}

.ear-antena::before {
  left: 7px;
  border-top-left-radius: 40px;
  box-shadow: inset -2px 0 0 2px #08c;
}

.ear-antena::after {
  right: 7px;
  border-top-right-radius: 40px;
  box-shadow: inset -2px 0 0 2px #08c;
}

.small-cap {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 47px;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
}
.body {
  width: 126px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  overflow: hidden;
  box-shadow: inset 0 -10px rgba(100, 100, 100, 0.4);
}

.shadow-box {
  width: 100%;
  height: 40%;
  border-radius: 50%;
  box-shadow: 0 18px #bebed6;
}

.pocket-area {
  width: 150%;
  height: 60%;
  margin-top: 45px;
  border: 3px solid black;
  border-radius: 50%;
  margin-left: -25%;
  position: relative;
}

.pocket {
  width: 60px;
  height: 50px;
  background-color: #0cf;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
  top: -20px;
  border-radius: 10px 10px 50% 50%;
  box-shadow: inset 0 -8px rgba(100, 100, 100, 0.4);
}

.hands {
  position: absolute;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
}

.hand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transform: rotate(35deg);
}

.hand::before {
  content: "";
  width: 40px;
  height: 90px;
  background-color: white;
  box-shadow: inset -10px 0 #aac;
  border-radius: 40%;
  border: 3px solid black;
}

.hand:last-child {
  transform: rotate(240deg);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  50% {
    transform: rotate(280deg);
  }
}

.robot-shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  width: 100px;
  height: 30px;
  background-color: #abd;
  border-radius: 50%;
  animation: robotShadow 2s infinite ease;
}

@keyframes robotShadow {
  50% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes moveRobot {
  50% {
    transform: translateY(50px);
  }
}
